.el {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
}
.verd {
    background-color: green;
}

.toronja {
    background-color: orange;
}

.violeta {
    background-color: blueviolet;
}

.container{
    display: flex;
    border: 1px solid black;
}
.container2{
    justify-content: space-around;
}
.container3{
    justify-content: flex-end;
    gap: 10px;

}

.container4{
    justify-content: space-evenly;
    gap: 10px;
    height: 400px;

}

.container5{
    justify-content: center;
    gap: 10px;
    height: 400px;
    align-items: center;

}
.container6{
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

}

.container8 {
    justify-content: right;
    gap: 10px;
    height: 400px;
    align-items: flex-end;
}

.container9 {
    flex-direction: column;
    height: 400px;
}

.container10 {
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
}

